@use 'variables';
@use 'mixins';

.cta {
    @include mixins.flexing(column);
    background-color: variables.$primary-purple;
    background-image: url('../images/bg-boost-desktop.svg');
    background-size: cover;

    h3 {
        color: white;
        margin-top: 0;
    }

    button {
        @include mixins.button(white, 15px 40px);
        font-size: 2rem;
        font-weight: 700;
        border-radius: 3rem;
        margin-top: 10px;
    }
    padding: 60px 0;

    @media only screen and (max-width: 600px) {
        background-image: url('../images/bg-boost-mobile.svg');
        width: 100%;
        padding: 100px 0;
        h3 {
            width: 90%;
            text-align: center;
            font-size: 2.8rem;
        }
    }
}