@use 'variables';
@use 'mixins';

.cta {
    @include mixins.flexing(column);
    background-color: variables.$primary-purple;
    background-image: url('../images/bg-boost-desktop.svg');
    background-size: cover;

    h3 {
        color: white;
        margin-top: 0;
    }

    button {
        @include mixins.button(white, 15px 40px);
        font-size: 2rem;
        font-weight: 700;
        border-radius: 3rem;
        margin-top: 10px;
    }
    padding: 60px 0;
}