@use 'variables';
@use 'mixins';

footer {
    padding: 80px 0;
    background-color: variables.$dark-violet;
    .container {
        @include mixins.flexing(row, space-between, flex-start);
        @include mixins.sectionCenter();

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    nav {
        color: white;
        @include mixins.flexing(row, space-between, flex-start);
        width: 65%;

        ul li {
            margin-bottom: 20px;
            font-size: 1.4rem;
            &:first-child {
                font-size: 1.6rem;
                margin-bottom: 30px;
                color: white;
                font-weight: 700;
            }
        }


        .social {
            @include mixins.flexing(row, space-between, baseline);
            width: 20%;

            li img {
                &:hover {
                    cursor: pointer;
                    filter: invert(25%) sepia(34%) saturate(5733%) hue-rotate(133deg) brightness(95%) contrast(85%);
                }
            }
        }

        ul li a {
            text-decoration: none;
            color: variables.$gray;

            &:hover {
                color: variables.$primary-blue;
            }
        }
    }

    img {
        filter: brightness(100);
    }
}

