@use 'variables';
@use 'mixins';

header {
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;


    a {
        text-decoration: none;
        color: variables.$gray-violet;
        font-weight: 500;
        font-size: 1.5rem;

        &:hover {
            color: variables.$dark-violet;
        }

    }

    .top-navigation {
        z-index: 1;
        @include mixins.sectionCenter();
        @include mixins.flexing(row, space-between);
        padding: 50px 0;
        flex-wrap: wrap;

        .signup.btn {
            @include mixins.button();
        }

        button.hamburger {
            display: none;

            @media only screen and (max-width: 600px) {
                display: block;
            }
        }

        nav {
            @include mixins.flexing(row, space-between);
            width: 100%;

            .left-side {
                @include mixins.flexing(row, space-around);
                width: 30%;
                margin-left: 30px;
                
            }
           
            .sign-up {
                @include mixins.flexing(row, space-between);
                width: 17%;
            }

            @media only screen and (max-width: 600px) {
                display: none;
                padding: 40px 20px;
                flex-direction: column;
                border-radius: 10px;
  
                background-color: variables.$primary-purple;

                a {
                    color: white;
                    font-size: 1.7rem;
                    margin-bottom: 40px;
                }
                
                .left-side {
                    margin: 0;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }

                .sign-up {
                    margin: 0;
                    padding-top: 40px;
                    width: 100%;
                    border-top: 1px solid white;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .signup.btn {
                        padding: 15px 0;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }


            }
        }
        // only added when the user clicks the hamburger menu icon
        .hidden {
            display: none;
        }
        .visible {
            display: flex;
        }

        @media only screen and (max-width: 600px)  {
            width: 100%;
            padding: 20px;
        }
    }


    // Intro section
    .intro {
        z-index: 1;
        @include mixins.sectionCenter();
        @include mixins.flexing(column, flex-start, flex-start);
        padding: 100px 0 220px;
        .big-intro {
            font-size: 7.5rem;
            font-weight: 700;
            color: variables.$dark-blue;
            width: 50%;
            line-height: 1.2;
        }
        p {
            font-size: 2.2rem;
            width: 50%;
            line-height: 1.6;
            color: variables.$gray-violet;
            font-weight: 400;
        }

        .get-started {
            margin-top: 30px;
            font-size: 2rem;
            @include mixins.button(white, 17px 40px);
            border-radius: 3rem;
        }
    }

    img.working {
        position: absolute;
        z-index: 0;
        right: -8%;
        bottom: 18%;
    }

}
