@use 'variables';
@use 'mixins';
.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    @include mixins.sectionCenter();

    
    // url shortening input
    .url-shortening {
        position: relative;
        top: -80px;
        width: 100%;
        padding: 50px;
        border-radius: 1rem;
        @include mixins.flexing(row);
        background-color: variables.$primary-purple;
        background-image: url('../images/bg-shorten-desktop.svg');
        background-size: cover;
        form {
            @include mixins.flexing(row, space-between);
            width: 100%;
        }
        #url-input {
            padding: 20px 30px;
            width: 80%;
            border-radius: 1rem;
            border: none;
            font-size: 2rem;
            @include mixins.placeholder-color();
        }
        button {
            @include mixins.button();
            width: 18%;
            border-radius: 1rem;
            padding: 20px;
            font-size: 2rem;
            font-weight: 700;
        }
    }


    // Advance statistics text
    .statistics {
        @include mixins.flexing(column);
        color: variables.$dark-blue;
        
        p {
            font-weight: 400;
            color: variables.$gray-violet;
            width: 45%;
            text-align: center;
            line-height: 2;
        }
    }



    // feature cards
    .feature-cards {
        @include mixins.flexing(row);
        width: 100%;
        margin: 25px 0;

        .feature-card {
            position: relative;
            width: 30%;
            padding: 0 25px 35px;
            background-color: white;
            @include mixins.flexing(column, flex-start, flex-start);
            font-size: 1.6rem;
            color: variables.$gray-violet;
            border-radius: 0.7rem;

            h5 {
                color: variables.$dark-blue;
                font-weight: 700;
                font-size: 2rem;
            }

            p {
                margin-top: 20px;
                line-height: 1.6;
                font-weight: 500;
            }

            .img {
                position: relative;
                top: -45px;
                padding: 25px;
                background-color: variables.$primary-purple;
                border-radius: 50%;
            }
        }

        .detailed-records {
            margin-top: 80px;
        }

        .fully-customizable {
            margin-top: 160px;
        }

        .dash {
            width: 30px;
            height: 8px;
            background-color: variables.$primary-blue;
            margin-top: 30px;
        }
    }

}
