@use 'variables';
// section centering and spacing
@mixin sectionCenter {
    width: 78%;
    margin: 0 auto;
}

// display flex
@mixin flexing($direction, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// primary button
@mixin button($color: white, $padding: 12px 20px, $backgroundColor: variables.$primary-blue) {
    color: $color;
    padding: $padding;
    border-radius: 2rem;
    background-color: $backgroundColor;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: variables.$primary-blue-lighten;
  }
}

@mixin placeholder-color($color: variables.$gray) {
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color;
        opacity: 1; /* Firefox adds opacity by default so we set it to 1 to fix that */
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $color;
      }
}